<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cookandroid.nice_nice_house">
    <permission android:name="org.cookandroid.nice_nice_house.permission.MAPS_RECEIVE" android:label="signature"></permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="착하디착한집"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nice_nice_house">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDLwaIZZZYOql4pQomgFCyy2YD4r9cNkyU"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>

</manifest>